<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /restaurants-app/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(api|public|private|css|js|img|fonts)/ - [L]
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Block access to sensitive folders
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>